<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="chat">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="jcp_annotations.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/jcp_annotations/jcp_annotations">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="chat"/>
        <property name="java-output-path" value="/chat/build/classes"/>
    </wb-module>
</project-modules>
